test-results
node_modules

# Output
.output
.vercel
.netlify
.wrangler
# .ignore
/.svelte-kit
/build
/r

/do

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# SQLite
*.db

*storybook.log
storybook-static
qdrant_storage

#cuz something about picomatch missing from package-lock.json in cloudflare build
package-lock.json