@font-face {
	font-family: 'WDXL';
	src: url('/fonts/wdxl.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Anta';
	src: url('/fonts/anta.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@utility wdxl {
	font-family: WDXL, sans-serif;
}

@utility anta {
	font-family: 'Anta', sans-serif;
}
