@import url('https://fonts.googleapis.com/css2?family=Anta&display=swap');

@font-face {
	font-family: 'WDXL';
	src: url('/wdxl.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@utility wdxl {
	font-family: WDXL, sans-serif;
}

@utility anta {
	font-family: 'Anta', sans-serif;
}
